@{
  ViewData["Title"] = $"Details for {Model.Title}";
}

<h1>@Model.Title</h1>

<p>Author: @Model.Author</p>
<p>Summary: @Model.Summary</p>

<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.BookId })</p>
<p>@Html.ActionLink("Delete book", "Delete", new { id = @Model.BookId })</p>
@Html.ActionLink("Return to all books", "Index")