@{
  ViewData["Title"] = $"Details for {Model.Title}";
}

<h1>All About @Model.Title</h1>

<p>Species: @Model.Species</p>
<p>Age: @Model.Age</p>

<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.AnimalId })</p>
<p>@Html.ActionLink("Delete animal", "Delete", new { id = @Model.AnimalId })</p>
@Html.ActionLink("Return to all animals", "Index")